.slideshow-container {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    padding: 2rem;
}

.slide {
    display: none;
    animation: fade 1.5s ease;
}

.slide.active {
    display: block;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.slide-content {
    display: flex;
    gap: 2rem;
    align-items: center;
 
    background-color:#7d7c7c;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.slide-image {
    flex: 1;
    
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.slide-text {
    flex: 1;
  
    padding:1.5rem;
    font-size:17px;
    color:white;
}
.heading{
    text-align:center;
    margin-bottom:10px;
    color:rgb(234, 114, 34);
    font-family: 'Times New Roman', Times, serif;
}

.slide-nav {
    text-align: center;
    margin-top: 1rem;
}
.hotel-title{
    color:rgb(127, 170, 179);
    margin-bottom:3px;
}
.hotel-button{
    color:rgb(167, 171, 235);
    margin-top:7px;
    text-decoration:none;
    font-size:14px;
}
.slide-dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
  
    background-color: #1e1414;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slide-dot.active {
    background-color: var(--accent-color);
}

/* Services */

.service{
    background-image: url("ser2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content:flex-end;
    height:500px;
   
}
.service__container {
    padding-block: 0;
    display:flex;
    justify-content: flex-end;
    align-items:center;
    grid-template-columns: repeat(2, 1fr);
   
}

.service__content {
    display: flex;
    flex-direction: column;
    justify-content:center; 
    align-items: center;  
    padding: 2rem 4rem;
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height:400px;
    max-width: 80%; 

    background-color: rgb(114, 57, 57);
    color:white;
}

.service__list {
    list-style: none;
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
}

.service__list li {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
}

.service__list span {
    padding: 5px 12px;
    font-size: 1.75rem;
    color: var(--text-dark);
    background-color: var(--text-light);
    border-radius: 100%;
}

.service__list li:nth-child(1) span {
    color: #60a5fa;
    background-color: #dbeafe;
}

.service__list li:nth-child(2) span {
    color: #f472b6;
    background-color: #fce7f3;
}

.service__list li:nth-child(3) span {
    color: #c084fc;
    background-color: #f3e8ff;
}

.service__list li:nth-child(4) span {
    color: #fb7185;
    background-color: #ffe4e6;
}


