/* login1.css */

/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image:url("login1.jpg");
    background-size:cover;
    background-repeat:no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 8px;
    /* box-shadow: 2px 4px 8px rgba(131, 53, 53, 0.1); */
    width: 100%;
    max-width: 400px;
    text-align: center;
    transition:transform 0.3s ease-in-out;
}
.login-container:hover{
   transform:scale(1.1);
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #2c2525;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
    color: #0f0c0c;
    text-align: left;
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    background-color: #31718d;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.forgot-password {
    margin-top: 10px;
    margin-bottom:16px;
}

.forgot-password a {
    font-size: 14px;
    color: #007BFF;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
.create-acc{
    margin-top:12px;
    font-size:14px;
}
.create-acc a{
    text-decoration:none;
    color:#007BFF;
}


/* sign-up page */
.sign-up{
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 8px;
    /* box-shadow: 2px 4px 8px rgba(131, 53, 53, 0.1); */
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.email{
    margin-bottom:20px;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.acc{
    margin-top:18px;
    font-size:14px;
}
.acc a{
    text-decoration:none;
    color:#007BFF;
}
